
<%- include('../partials/header') %>

<section id="show-page">
 <div>Name: </div>
 <div><%= experience.name %></div>
 <div>Created On: </div>
 <div><%= experience.created %></div>
 <div>Deadline: </div>
 <div><%= experience.deadline%></div>
 <div>Location: </div>
 <div><%= experience.location %></div>
 </section>
 <br><br><h2>Notes</h2>
 <form id="add-review-form" method="POST"
   action="/experiences/<%= experience._id %>/reviews">
   <label>Add Notes:</label>
   <textarea name="content"></textarea>
   </select>
   <input type="submit" value="Add My Note">
 </form>


 <%- include('../partials/footer') %>
